.content {
}
.thumbnail {
  height: 30rem;
  background: rgb(145, 4, 4);
}
.input {
  height: 12rem;
  border-radius: 10px;
}
.input::placeholder {
  position: absolute;
  top: 0;
}

.input_container {
  border-radius: 10px;
}
