.main-content {
  margin-left: 5rem;
  margin-right: 1rem;
}
.drag-drop {
  border: 1px solid red;
  height: 20rem;
}
.upload {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  color: #0b4f5a;
  font-family: Roboto;
  h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
  }
  p {
    font-size: 15px;
    font-weight: 400;

    line-height: 18px;
  }
  button {
    color: white;
    background: #0b4f5a;
    border-radius: 25px;
    padding: 0.5rem;
    height: 2rem;
    outline: none;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
  margin-top: 15%;
}
.modal_opened {
  display: block;
}
.modal_closed {
  display: none;
}
