.upload__content {
  margin-left: 5rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  height: 90vh;
  .upload {
    color: #0b4f5a;
    font-family: Roboto;
    .upload__title {
      margin: 1rem 0;
      font-size: 20px;
      font-weight: 500;
      line-height: 23px;
    }
    .upload__subtitle {
      font-size: 15px;
      font-weight: 400;
      margin: 1rem 0;
      line-height: 18px;
    }
  }
  .upload_dropzone {
    flex: 1 1 auto;
  }
}
