.main-content {
  margin-left: 5rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 5rem;
}
.drag-drop {
  flex: 1 1 auto;
}
.upload {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  color: #0b4f5a;
  font-family: Roboto;
  h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
  }
  p {
    font-size: 15px;
    font-weight: 400;

    line-height: 18px;
  }
  button {
    color: white;
    background: #0b4f5a;
    border-radius: 25px;
    padding: 0.5rem;
    height: 2rem;
    outline: none;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;

  border: 1px solid #888;
  border-radius: 10px;
  width: 40rem;
  height: 25rem;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -20rem;
  margin-top: -12.5rem;
}
.modal_opened {
  display: block;
}
.modal_closed {
  display: none;
}
.modal-exit_button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 16px;
  height: 16px;
}
