.sidebar__footer {
  height: 76px;
  margin-bottom: 21px;

  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      text-align: center;

      button {
        padding: 10px 15px;
        border: none;
        background: none;

        &:hover {
          cursor: pointer;

          svg {
            path {
              fill: #0b4f5a;
            }
          }
        }
      }
    }
  }
}
