$primary-color: #0b4f5a;
$text-primary: #3c727b;
$text-secondary: #6d959c;
$border-color: #cedcde;
$bg-color: #2f4858;
$white: #ffffff;
$red-1: #c74949;
$warning: #ff0f0f;

$background-opacity: rgb(47, 72, 88, 0.75);
