.container {
  margin: 1rem 0;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  border: 1px solid #cedcde;
  border-radius: 25px;
}
.container_input {
  border: 0;
  width: 100%;
}
.container_input::placeholder {
  padding-left: 0.4rem;
  color: #6d959c;
  overflow: visible;
}
.container_input:focus {
  outline-width: 0;
}
.container_eye {
  padding-right: 0.4rem;
}
.eye {
  background: red;
}
