@import "../../sass/main.module.scss";

.day {
  display: grid;
  grid-template-rows: repeat(1fr 13);
  position: relative;
  border-bottom: 1px solid $border-color;

  .hour {
    display: flex;
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;

    // &:last-child {
    //   border-bottom: 1px solid $border-color;
    // }
  }
}
