@import "../../sass/main.module.scss";

.filterButton {
  background-color: $white;
  color: $text-secondary;
  border: 1px solid $border-color;
  padding: 5px 9px;
  border-radius: 10px;
  font-size: 15px;
  min-width: 56px;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    color: $white;
    border-color: $primary-color;
  }

  &.active {
    background-color: $primary-color;
    color: $white;
    border-color: $primary-color;
  }
}
