@import "../../sass/main.module.scss";

.sidebar {
  display: grid;
  grid-template-rows: repeat(13, 1fr);

  .hour {
    display: flex;
    align-items: center;
    justify-content: center;

    .textHour {
      color: $text-primary;
    }
  }
}
