@import "../../sass/main.module.scss";

.week {
  display: grid;
  grid-template-columns: 1fr repeat(7, 2fr);

  .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-primary;

    .number {
      font-size: 25px;
      font-weight: 500;
    }

    .name {
      font-size: 15px;
      text-transform: lowercase;
    }
  }
}
